<div class="container p-4">
    {{#if genres}}
    {{#if movies}}
    <a href="/movies/add" class="btn btn-success">Agregar Nueva Película</a>
    <br>
    <br>
    <div class="row">
        {{#each movies}}
        <div class="col-md-3">
            <div class="card text-center">
                <div class="card-body">
                    <h1>{{title}}</h1>
                    <h5>Director: {{director}}</h5>
                    <h5>Género: <a href="/genres/see/{{genre_id}}">{{genre}}</a></h5>

                    <p class="createdat"> {{timeago created_at}} </p>
                    <a href="/movies/see/{{id}}" class="btn btn-info" role="button">VER</a>
                    <a href="/movies/edit/{{id}}" class="btn btn-secondary" role="button">EDITAR</a>
                    <a href="/movies/delete/{{id}}" class="btn btn-danger" role="button">ELIMINAR</a>
                </div>
            </div>
        </div>
        {{/each}}

        {{else}}
        <div class="col-md-4 mx-auto">
            <div class="card card-body text-center">
                <p> No hay películas guardadas aún </p>
                <a href="/movies/add" class="btn btn-success"> ¡Guarda una! </a>
            </div>
        </div>

        {{/if}}
        {{else}}
        <div class="col-md-4 mx-auto">
            <div class="card card-body text-center warning">
                <p> No hay géneros para asignar a nuevas películas </p>
                <a href="/genres/add" class="btn btn-success"> ¡Crea uno! </a>
            </div>
        </div>
        {{/if}}
    </div>
</div>